<h3 class="app-heading"><i class="fa fa-info"></i> Szczegóły klienta</h3>

<div class="app-item-info">
    <p><span>Imię:</span><%= first_name %></p>
    <p><span>Nazwisko:</span><%= last_name %></p>
    <p><span>Data urodzenia:</span><%= birthdate %></p>
    <p><span>Number dowodu:</span><%= idc_number %></p>
    <p><span>Adres:</span> <i><%= address %></i></p>
    <p><span>Kod pocztowy:</span><%= zip_code %></p>
    <p><span>Miasto:</span><%= city %></p>

    <button type="button" class="btn edit">Edytuj</button>
</div>